{% set uid = uniqid() %}
<div class="col-md-12">
    <div class="embed-responsive embed-responsive-16by9">
        <div id="map_show_{{uid}}" class='embed-responsive-item google-map'></div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $(window).one('google-map-ready', function(){
            var map = new google.maps.Map(document.getElementById('map_show_{{uid}}'), {
                center: {lat: {{ center.lat }}, lng: {{ center.lon }}},
                zoom: {{ zoom }}
                {% if intention != 'publish' %}, scrollwheel: false {% endif %}
            });

            {% for i, marker in markers if marker.latitude and marker.longitude %}
                var marker{{i}} = new google.maps.Marker({
                    position: new google.maps.LatLng({ lat: {{marker.latitude}}, lng: {{marker.longitude}} }),
                    map: map
                    {% if marker.titre|length %}, title: '{{marker.titre|escape('js')}}'{% endif %}
                });

                {% if marker.titre or marker.description %}
                var infoWindow{{i}} = new google.maps.InfoWindow({
                    content: '{% if marker.titre %}<strong>{{marker.titre|escape('js')}}</strong>{% endif %}'+
                            '{% if marker.description %}<p>{{marker.description|nl2br|escape('js')}}</p>{% endif %}'
                });
                {% if marker.default_open %}infoWindow{{i}}.open(map, marker{{i}});{%endif%}

                marker{{i}}.addListener('click', function(){
                    infoWindow{{i}}.open(map, marker{{i}});
                });
                {% endif %}
            {% endfor %}
        });

        // solution to prevent loading the library twice
        if(typeof google === 'undefined' && 'true' !== $('body').attr('data-google-map-requested')){
            $('body').attr('data-google-map-requested', 'true');

            $.getScript('https://maps.google.com/maps/api/js?sensor=false', function(){
                $(window).trigger('google-map-ready');
            });
        }else{
            $(window).trigger('google-map-ready');
        }

    });
</script>